@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome to report watcher</h1>
<p>
    In this example we are getting data from Azure Functions (check <a asp-page="/Report/Info">status page</a>)
    and can retrieve information via download page <a asp-page="/Report/Download">here</a>.
</p>